
[workspace]
members = ["api", "core", "scaffold", "binarygen", "repogen", "thirdparty\\struct_field"] 

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true # Enable Link Time Optimization (LTO)
codegen-units = 1 # Reduce Parallel Code Generation Units to Increase Optimization
panic = "abort" # Smaller panic implementation

[workspace.dependencies]
rust-i18n = { git = "https://github.com/acard0/rust-i18n", rev = "1709ddd", features = [ "rust-i18n-extract", "clap", "anyhow", "quote", "itertools" ] }