[package]
name = "instally-scaffold"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
instally-core = { path = "../core" }
egui = "0.22.0"
eframe = "0.22.0"
catppuccin-egui = "3.0.0"
tokio = { version = "1.0", features = ["full"] }
env_logger = "0.10.0"
serde = { version = "1.0.164", features = ["derive"] }
quick-xml = { version = "0.29.0", features = ["serialize"] }
log = "0.4.17"