[package]
name = "instally-scaffold"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
instally-core = { path = "../core" }
eframe = { git = "https://github.com/rustytsuki/egui", branch = "rust-office", default-features = false, features = ["skia", "default_fonts"] }
tokio = { version = "1.0", features = ["full"] }
serde = { version = "1.0.164", features = ["derive"] }
quick-xml = { version = "0.29.0", features = ["serialize"] }
log = "0.4.17"
env_logger = "0.10.0"

[build-dependencies]
winres = "0.1.12"