[package]
name = "instally-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
struct_field = { path = "../thirdparty/struct_field" }
tokio = { version = "1.0", features = ["full"] }
async-trait = "0.1.71"
futures = "0.3.28"
once_cell = "1.18.0"
parking_lot = "0.12.1"
bytes = "1.4.0"
log = "0.4.17"
env_logger = "0.10.0"
thiserror = "1.0.40"
strum = { version = "0.25", features = ["derive"] }
reqwest = { version = "0.11.18", features = ["stream"] }
serde = { version = "1.0.164", features = ["derive"] }
quick-xml = { version = "0.29.0", features = ["serialize"] }
chrono = { version = "0.4.26", features = ["serde", "rustc-serialize"] }
rquickjs = { version = "0.3.1", features = [ "macro", "dyn-load", "classes", "either", "indexmap", "properties", "futures" ] } 
walkdir = "2"
directories = "5.0.1"
filepath = "0.1.2"
tempfile = "3.7.0"
zip = "0.6"
sysinfo = "0.29.4"
sys-locale = "0.3"
convert_case = "0.6.0"
rust-i18n.workspace = true

[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"

[target.'cfg(windows)'.dependencies.windows]
version = "0.48.0"
features = [ 
    "Win32_UI_Shell",
    "Win32_UI_Shell_Common",
    "Win32_UI_Shell",
    "Win32_System_Registry",
    "Win32_Foundation",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Com"
]