[package]
name = "instally-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.0", features = ["full"] }
async-trait = "0.1"
futures = "0.3"
once_cell = "1"
parking_lot = "0.12"
bytes = "1.4.0"
log = "0.4"
env_logger = "0.10"
thiserror = "1"
strum = { version = "0.26", features = ["derive"] }
reqwest = { version = "0.11", features = ["stream"] }
serde = { version = "1", features = ["derive"] }
quick-xml = { version = "0.30.0", features = ["serialize"] }
chrono = { version = "0.4", features = ["serde", "rustc-serialize"] }
rquickjs = { version = "0.3", features = [ "macro", "dyn-load", "classes", "either", "indexmap", "properties", "futures" ] } 
walkdir = "2"
directories = "5.0"
filepath = "0.1"
tempfile = "3.7"
zip = "0.6"
sysinfo = "0.29"
sys-locale = "0.3"
convert_case = "0.6.0"
rust-i18n.workspace = true
struct_field.workspace = true
fs-err.workspace = true

[target.'cfg(windows)'.dependencies]
winreg = "0.50.0"

[target.'cfg(windows)'.dependencies.windows]
version = "0.48.0"
features = [ 
    "Win32_UI_Shell",
    "Win32_UI_Shell_Common",
    "Win32_UI_Shell",
    "Win32_System_Registry",
    "Win32_Foundation",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Com"
]